/* Modal */
.common-popup .modal-content {
  width: 75%;
  height: 100%;
  border-radius: 9.6px;
  background-color: #fff;
  margin: 0 auto;
  padding: 60px;
}
.common-popup .modal-body {
  padding: 0px;
}
.common-popup .close {
  position: absolute;
  top: 20px;
  right: 20px;
  text-shadow: none;
  opacity: 1;
  cursor: pointer;
}
.common-modal-heading{
  margin-bottom: 50px;
}
.common-modal-heading h2 {
  font-family: 'avenirnext-bold';
  font-size: 36px;
  color: #000000;
}
.common-modal-heading p {
  font-family: 'avenirnext-regular';
  font-size: 16px;
  color: #000000;
  margin-top: 15px;
  opacity: 0.5;
}
/* career modal */
.job-description{
  margin-bottom: 50px;
}
.job-description h3 {
  font-family: 'avenirnext-medium';
  font-size: 36px;
  color: #000000;
  margin: 0px;
  margin-bottom: 25px;
}
.job-description p {
  font-family: 'avenirnext-regular';
  font-size: 16px;
  color: #000000;
  line-height: 26px;
  margin-bottom: 20px;
}
.job-description ul {
  margin-bottom: 57px;
}
.job-description ul li {
  font-family: 'avenirnext-regular';
  font-size: 16px;
  color: #000000;
  margin-bottom: 15px;
}
.job-description .btn.btn-black {
  min-width: 156px;
  text-align: center;
}
/* contact modal */
.common-popup.contact-popup .modal-content {
  width: 45%;
  padding: 50px;
}
.contact-popup.common-modal-heading h2 {
  margin: 0px;
  margin-bottom: 20px;
}
.contact-popup .form-group {
  width: 100%;
  margin-bottom: 50px;
}
.contact-popup .form-group label {
  font-size: 18px;
  font-family: 'avenirnext-medium';
  color: #898989;
  width: 100%;
}
.contact-popup .form-control {
  font-size: 18px;
  font-family: 'avenirnext-medium';
  color: #898989;
  border: none;
  border-bottom: 1px solid #d2d2d2;
  border-radius: unset;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  padding-left: 0px;
}
.contact-popup .message .form-control {
  border-bottom:1px solid #d2d2d2;
}
.contact-popup .form-control:focus {
  -webkit-box-shadow: unset;
  box-shadow: unset;
}
.contact-popup .submit .btn.btn-black {
  min-width: 156px;
  text-align: center;
}
/* responsive */
@media (min-width: 768px) {
  .common-popup .modal-dialog {
    width: auto !important;
  }
}
@media (min-width: 576px) {
  .common-popup .modal-dialog {
    max-width: none;
    margin: 1.75rem auto;
  }
}
@media (max-width: 768px) {
  .common-popup .modal-content {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
  .common-popup .modal-content {
    width: 45%;
    padding: 20px;
    border-radius: 0px;
  }
}
